<p>Hi <%= @user.name %>,</p>
<p>Please verify your email by clicking the link below:</p>
<p><a href="<%= @verify_url %>">Verify my email</a></p>
<p>This link expires in 24 hours.</p>
<p>— SSS BAGS</p>
